header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  background-size: cover;
  height: 25vh;
  background-image: url("../assets/images/samuel-austin-omeaSFHIxYk-unsplash.jpg");
  min-height: 10rem;
  -webkit-text-stroke: 1px black;
  color: #f0f0f0;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header h1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-family: 'Patua One', cursive;
}

button {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
  color: #575757;
}

#pause-play {
  color: white;
  height: 2rem;
  width: 2rem;
  font-size: 3rem;
  outline: none;
  border: none;
  padding-right: 2rem;
}

#pause-play:hover {
  color: grey;
}

#pause-play:active {
  color: #343434;
}

.buttons {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
  gap: 30px;
}

.buttons .fa-github, .buttons .fa-linkedin {
  height: 2rem;
  width: 2rem;
  color: white;
  font-size: 3rem;
  text-decoration: none;
}

.buttons .fa-github:hover, .buttons .fa-linkedin:hover {
  color: grey;
}

.buttons .fa-github:active, .buttons .fa-linkedin:active {
  color: #343434;
}

#audio1 {
  display: none;
}

.main-section {
  margin-left: 25vw;
  margin-right: 25vw;
}

.main-section h1 {
  font-size: 2rem;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.main-section p {
  font-size: 1.25rem;
  text-align: center;
  padding-top: 1rem;
  font-weight: 100;
  font-stretch: ultra-expanded;
}

.intro-text {
  padding-top: 5rem;
}

.meditation-text {
  padding-top: 5rem;
}

.map-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding-top: 5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#map-img {
  width: auto;
  height: 20rem;
}

.age-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.age-wrapper h2 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  padding-bottom: 1rem;
}

.benefits-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding-left: 8%;
}

.benefits-wrapper h2 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  padding-bottom: 1rem;
}

.benefits-wrapper .benefits-text-div {
  padding-right: 6rem;
  width: 25vw;
}

.how-to {
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.how-to h1 {
  font-size: 2rem;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.how-to p {
  font-size: 1.25rem;
  text-align: center;
  padding-top: 1rem;
  font-weight: 100;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 2;
}
/*# sourceMappingURL=main.css.map */