

header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    //    border: 5px solid black;
    background-size: cover;
    height: 25vh;
    background-image: url('../assets/images/samuel-austin-omeaSFHIxYk-unsplash.jpg');
    min-height: 10rem;
    -webkit-text-stroke: 1px black;
   color: rgb(240, 240, 240);
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    h1 {
            // justify-content: center;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-end: 3;
        grid-column-start: 1;
        align-self: center;
        // position: relative;
        // top: 9vh;
        text-align: center;
        // width: 100%;
        font-family: 'Patua One', cursive;
    }
}

button {
    background-color: transparent;
    border: none;
    &:hover {
        cursor: pointer;
        color: rgb(87, 87, 87);
    }
}

#pause-play {
    color: white;
    height: 2rem;
    width: 2rem;
    font-size: 3rem;
    outline: none;
    border: none;
    padding-right: 2rem;
    // position: relative;
    // right: 95%;

    &:hover {
        color: grey;
    }
    &:active {
        color:rgb(52, 52, 52)
    }
}

.buttons {
    grid-row: 2;
    grid-column: 1;
    align-self: flex-end;
    display: flex;
    padding-bottom: 1rem;
    gap: 30px;

    .fa-github, .fa-linkedin {
        height: 2rem;
        width: 2rem;
        color: white;
        font-size: 3rem;
        text-decoration: none;
        &:hover {
        color: grey;
        }
        &:active {
        color:rgb(52, 52, 52)
        }
    }
}

#audio1 {
    display: none;
}

.main-section {
    margin-left: 25vw;
    margin-right: 25vw;
    h1 {
        font-size: 2rem;
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }
    p {
        font-size: 1.25rem;
        text-align: center;
        padding-top: 1rem;
        font-weight: 100;
        font-stretch: ultra-expanded;
    }
}

.intro-text {
    padding-top: 5rem;
}

.meditation-text {
    padding-top: 5rem;

}

.map-div {
    display: flex;
    width: 100vw;
    padding-top: 5rem;
    justify-content: space-around;
    align-items: center;
}

#map-img {
    width: auto;
    height: 20rem;
}

.age-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    h2 {
        text-align: center;
        font-size: 4rem;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        padding-bottom: 1rem;
    }
}

.benefits-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-left: 8%;
    h2 {
        text-align: center;
        font-size: 4rem;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        padding-bottom: 1rem;
    }
    .benefits-text-div {
        padding-right: 6rem;
        width: 25vw;
    }
}

.how-to {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 2rem;
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }
    p {
        font-size: 1.25rem;
        text-align: center;
        padding-top: 1rem;
        font-weight: 100;
        width: 50%;
        align-self: center;
        line-height: 2;
    }
}