

.main {
  position : relative; 
} 


.mb-wrap {
  margin : 20px auto; 
  padding : 20px; 
  position : relative; 
  width : 300px; 
} 

.mb-wrap p {
  margin : 0; 
  padding : 0; 
}

.mb-wrap blockquote {
  margin : 0; 
  padding : 0; 
  position : relative; 
} 

.mb-wrap cite {
  font-style : normal; 
} 

.mb-style-2 blockquote {
  padding-top : 150px; 
} 

.mb-style-2 blockquote:after {
    background: none repeat scroll 0 0 rgba(188, 188, 188, 0.8);
    border-radius: 50% 50% 50% 50%;
    color: rgba(255, 255, 255, 0.5);
    content: "❞";
    font-family: 'icons';
    font-size: 70px;
    height: 130px;
    left: 50%;
    line-height: 130px;
    margin-left: -65px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    top: 0;
    width: 130px;
}
.mb-style-2 blockquote:before {
    border-left: 5px solid rgba(235, 150, 108, 0.1);
    border-radius: 50% 50% 50% 50%;
    content: "";
    height: 500px;
    left: -50px;
    position: absolute;
    top: 0;
    width: 500px;
    z-index: -1;
}

.mb-style-2 blockquote p {
  color : rgba(2, 2, 2, 0.8); 
  display : inline; 
  font-family : Baskerville, Georgia, serif; 
  font-style : italic; 
  font-size : 24px; 
  line-height : 46px; 
  text-shadow : 0 1px 1px rgba(255, 255, 255, 0.5);  
} 

.mb-attribution {
  text-align : center; 
  align-self: center;
  /* position: absolute;
  bottom: 15rem;;
  right: 5%; */
} 

 .mb-author {
  color : #000000; 
  font-size : 18px; 
  font-weight : bold; 
  padding-bottom : 10px; 
  text-shadow : 0 1px 1px rgba(255, 255, 255, 0.1); 
  text-transform : uppercase; 
  text-align: center;
}  

.quote-section {
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#quote-btn {
  align-self: center;
  justify-self: center;
  background-color:rgba(188, 188, 188, 0.8);
  border-radius: 4px;
  width: 8rem;
  height: 2rem;
  border: 1px inset black;
  font-family: inherit;
  font-weight: 300;
}

#quote-btn:hover {
  background-color: rgba(152, 152, 152, 0.8);
  color: black;
}

#quote-btn:active {
  background-color: rgb(113, 113, 113);
}